# California Housing Prices

## Data Wrangling Table of Contents
1. Imports
2. Notebook Objectives
3. Load the data and initial exploration
4. Data Definitions
    * Column Name
    * Data Types
    * Column Description 
    * Summary statistics
    * Range of values
5. Updating Data Types
6. Deal with Missing Data
    1. Remove records with missing data
    2. Replace missing values with mean
    3. Replace missing values with median
    4. Replace missing values with zero

This data set comes from: [Kaggle-California Housing Prices](https://www.kaggle.com/datasets/camnugent/california-housing-prices)

### 1. Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Notebook Objectives
* Do we have the data that we need?
    * Have you identified the required target value?
    * Do you have potentially useful features?
* Do you have any fundamental issues with the data?
* This is finished when...

### 3. Load the data and initial exploration

In [2]:
house_data = pd.read_csv('../raw_data/housing.csv')
house_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
house_data.describe().T

,count,mean,std,min,25%,50%,75%,max
longitude,20640.0,-119.569704,2.003532,-124.3500,-121.8000,-118.4900,-118.01000,-114.3100
latitude,20640.0,35.631861,2.135952,32.5400,33.9300,34.2600,37.71000,41.9500
housing_median_age,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
total_rooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
total_bedrooms,20433.0,537.870553,421.385070,1.0000,296.0000,435.0000,647.00000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
median_income,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
median_house_value,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

In [4]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
# Is there any missing data in columns?
house_data[house_data.isnull().any(axis=1)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

In [6]:
# How values are missing?
missing = pd.concat([house_data.isnull().sum(), 100 * house_data.isnull().mean()], axis=1)

missing.columns=['count', '%']
missing = missing.sort_values(by='count', ascending=False)
print(missing)

                    count         %
total_bedrooms        207  1.002907
longitude               0  0.000000
latitude                0  0.000000
housing_median_age      0  0.000000
total_rooms             0  0.000000
population              0  0.000000
households              0  0.000000
median_income           0  0.000000
median_house_value      0  0.000000
ocean_proximity         0  0.000000

### 4. Data Definitions
    * Column Name 
    * Data Types 
    * Column Description 
    * Summary statistics
    * Range of values

In [7]:
# 1. longitude
# A measure of how far west a house is; a higher value is farther west
house_data['longitude'].describe()

count    20640.000000
mean      -119.569704
std          2.003532
min       -124.350000
25%       -121.800000
50%       -118.490000
75%       -118.010000
max       -114.310000
Name: longitude, dtype: float64

In [8]:
# 1. longitude
min = house_data['longitude'].min()
max = house_data['longitude'].max()
range = max - min
print(min, max, range)

-124.35 -114.31 10.039999999999992

In [9]:
# 2. latitude
# A measure of how far north a house is; a higher value is farther north
house_data['latitude'].describe()

count    20640.000000
mean        35.631861
std          2.135952
min         32.540000
25%         33.930000
50%         34.260000
75%         37.710000
max         41.950000
Name: latitude, dtype: float64

In [10]:
# 2. latitude
min = house_data['latitude'].min()
max = house_data['latitude'].max()
range = max - min
print(min, max, range)

32.54 41.95 9.410000000000004

In [11]:
# 3. housing_median_age
# Median age of a house within a block; a lower number is a newer building
house_data['housing_median_age'].describe()

count    20640.000000
mean        28.639486
std         12.585558
min          1.000000
25%         18.000000
50%         29.000000
75%         37.000000
max         52.000000
Name: housing_median_age, dtype: float64

In [12]:
# 3. housing_median_age
min = house_data['housing_median_age'].min()
max = house_data['housing_median_age'].max()
range = max - min
print(min, max, range)

1.0 52.0 51.0

In [13]:
# 4. total_rooms
# Total number of rooms within a block
house_data['total_rooms'].describe()

count    20640.000000
mean      2635.763081
std       2181.615252
min          2.000000
25%       1447.750000
50%       2127.000000
75%       3148.000000
max      39320.000000
Name: total_rooms, dtype: float64

In [14]:
# 4. total_rooms
min = house_data['total_rooms'].min()
max = house_data['total_rooms'].max()
range = max - min
print(min, max, range)

2.0 39320.0 39318.0

In [15]:
# 5. total_bedrooms
# Total number of bedrooms within a block
house_data['total_bedrooms'].describe()

count    20433.000000
mean       537.870553
std        421.385070
min          1.000000
25%        296.000000
50%        435.000000
75%        647.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [16]:
# 5. total_bedrooms
min = house_data['total_bedrooms'].min()
max = house_data['total_bedrooms'].max()
range = max - min
print(min, max, range)

1.0 6445.0 6444.0

In [17]:
# 6. population
# Total number of people residing within a block
house_data['population'].describe()

count    20640.000000
mean      1425.476744
std       1132.462122
min          3.000000
25%        787.000000
50%       1166.000000
75%       1725.000000
max      35682.000000
Name: population, dtype: float64

In [18]:
# 6. population
min = house_data['population'].min()
max = house_data['population'].max()
range = max - min
print(min, max, range)

3.0 35682.0 35679.0

In [19]:
# 7. households
# Total number of households, a group of people residing within a home unit, for a block
house_data['households'].describe()

count    20640.000000
mean       499.539680
std        382.329753
min          1.000000
25%        280.000000
50%        409.000000
75%        605.000000
max       6082.000000
Name: households, dtype: float64

In [20]:
# 7. households
min = house_data['households'].min()
max = house_data['households'].max()
range = max - min
print(min, max, range)

1.0 6082.0 6081.0

In [21]:
# 8. median_income
# Median income for households within a block of houses, 
# measured in tens of thousands of US Dollars
house_data['median_income'].describe()

count    20640.000000
mean         3.870671
std          1.899822
min          0.499900
25%          2.563400
50%          3.534800
75%          4.743250
max         15.000100
Name: median_income, dtype: float64

In [22]:
# 8. median_income
min = house_data['median_income'].min()
max = house_data['median_income'].max()
range = max - min
print(min, max, range)

0.4999 15.0001 14.5002

In [23]:
# 9. median_house_value 
# Median house value for households within a block (measured in US Dollars)
house_data['median_house_value'].describe()

count     20640.000000
mean     206855.816909
std      115395.615874
min       14999.000000
25%      119600.000000
50%      179700.000000
75%      264725.000000
max      500001.000000
Name: median_house_value, dtype: float64

In [24]:
# 9. median_house_value 
min = house_data['median_house_value'].min()
max = house_data['median_house_value'].max()
range = max - min
print(min, max, range)

14999.0 500001.0 485002.0

In [25]:
# 10. ocean_proximity
# Location of the house with respect to the ocean/sea
house_data['ocean_proximity'].describe()

count         20640
unique            5
top       <1H OCEAN
freq           9136
Name: ocean_proximity, dtype: object

In [26]:
# 10. ocean_proximity
house_data['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

### 5. Updating Data Types
* total_rooms should be an int32
* total_bedrooms should be an int32
* population should be an integer int64
* households should be an integer int64
* median_income should be in dollars, not in thousands of dollars
* convert ocean_proximity to category variable type

In [27]:
df = house_data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [28]:
# total_rooms should be an integer 
df['total_rooms'] = df['total_rooms'].astype('int')

In [29]:
# population should be an integer
df['population'] = df['population'].astype('int')

In [30]:
# households should be an integer int64
df['households'] = df['households'].astype('int')

In [31]:
# median_income should be in dollars, not in thousands of dollars
df['median_income'] = df['median_income'] * 10000

In [32]:
# convert ocean proximity to category variable type 
df['ocean_proximity'] = df['ocean_proximity'].astype('category')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  category
dtypes: category(1), float64(6), int64(3)
memory usage: 1.4 MB

In [34]:
# I can't change the data type for total_bedrooms because there are missing values.

### 6. Is there a reason the data is missing? 
#### Deal with the missing data

In [35]:
# There is only missing data in total_bedrooms
missing_list = house_data['total_bedrooms'].isnull()
df_missing = house_data[missing_list]
df_missing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,207.000000,207.000000,207.000000,207.000000,0.0,207.000000,207.000000,207.000000,207.000000
mean,-119.472560,35.497633,29.270531,2562.603865,NaN,1477.772947,510.024155,38222.439614,206007.280193
std,2.001424,2.097298,11.964927,1787.269789,NaN,1057.448212,386.120704,19555.946874,111638.214545
min,-124.130000,32.660000,4.000000,154.000000,NaN,37.000000,16.000000,8527.000000,45800.000000
25%,-121.810000,33.970000,19.000000,1307.500000,NaN,781.000000,258.000000,25641.500000,128750.000000
50%,-118.490000,34.200000,30.000000,2155.000000,NaN,1217.000000,427.000000,34115.000000,175000.000000
75%,-117.985000,37.495000,38.000000,3465.000000,NaN,1889.500000,628.000000,46157.500000,267700.000000
max,-114.590000,40.920000,52.000000,11709.000000,NaN,7604.000000,3589.000000,150001.000000,500001.000000

In [36]:
df_missing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256,NaN,570,218,43750.0,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992,NaN,732,259,16196.0,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154,NaN,3741,1273,25762.0,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891,NaN,384,146,49489.0,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746,NaN,387,161,39063.0,178400.0,NEAR BAY

In [37]:
house_data['median_house_value'].describe(), df_missing['median_house_value'].describe()

(count     20640.000000
 mean     206855.816909
 std      115395.615874
 min       14999.000000
 25%      119600.000000
 50%      179700.000000
 75%      264725.000000
 max      500001.000000
 Name: median_house_value, dtype: float64,
 count       207.000000
 mean     206007.280193
 std      111638.214545
 min       45800.000000
 25%      128750.000000
 50%      175000.000000
 75%      267700.000000
 max      500001.000000
 Name: median_house_value, dtype: float64)

In [38]:
house_data['median_income'].describe(), df_missing['median_income'].describe()

(count     20640.000000
 mean      38706.710029
 std       18998.217179
 min        4999.000000
 25%       25634.000000
 50%       35348.000000
 75%       47432.500000
 max      150001.000000
 Name: median_income, dtype: float64,
 count       207.000000
 mean      38222.439614
 std       19555.946874
 min        8527.000000
 25%       25641.500000
 50%       34115.000000
 75%       46157.500000
 max      150001.000000
 Name: median_income, dtype: float64)

In [39]:
house_data['households'].describe(), df_missing['households'].describe()

(count    20640.000000
 mean       499.539680
 std        382.329753
 min          1.000000
 25%        280.000000
 50%        409.000000
 75%        605.000000
 max       6082.000000
 Name: households, dtype: float64,
 count     207.000000
 mean      510.024155
 std       386.120704
 min        16.000000
 25%       258.000000
 50%       427.000000
 75%       628.000000
 max      3589.000000
 Name: households, dtype: float64)

In [40]:
house_data['population'].describe(), df_missing['population'].describe()

(count    20640.000000
 mean      1425.476744
 std       1132.462122
 min          3.000000
 25%        787.000000
 50%       1166.000000
 75%       1725.000000
 max      35682.000000
 Name: population, dtype: float64,
 count     207.000000
 mean     1477.772947
 std      1057.448212
 min        37.000000
 25%       781.000000
 50%      1217.000000
 75%      1889.500000
 max      7604.000000
 Name: population, dtype: float64)

## 6. Dealing with missing Data

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  category
dtypes: category(1), float64(6), int64(3)
memory usage: 1.4 MB

### 6A Dropping rows with Null total_bedroom values

In [42]:
df.dropna(inplace = True)

### 6B Replace rows with Null total_bedrooms values with the mean

In [43]:
mean_bedrooms = {'total_bedrooms' : df.total_bedrooms.mean()}
# df.fillna(mean_bedrooms, inplace = True)

### 6C Replace rows with Null total_bedrooms vales with the median

In [44]:
median_bedrooms = {'total_bedrooms' : df.total_bedrooms.median()}
# df.fillna(median_bedrooms, inplace = True)

### 6D Replace with zero

In [45]:
zero = {'total_bedrooms': 0}
# df.fillna(zero, inplace = True)

In [46]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

#### Converting the last column to an integer

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  int64
 6   households          20433 non-null  int64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  category
dtypes: category(1), float64(6), int64(3)
memory usage: 1.6 MB

In [48]:
# total_bedrooms should be an int
df['total_bedrooms'] = df['total_bedrooms'].astype('int')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int64
 4   total_bedrooms      20433 non-null  int64
 5   population          20433 non-null  int64
 6   households          20433 non-null  int64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  category
dtypes: category(1), float64(5), int64(4)
memory usage: 1.6 MB

In [50]:
df.total_bedrooms.describe()

count    20433.000000
mean       537.870553
std        421.385070
min          1.000000
25%        296.000000
50%        435.000000
75%        647.000000
max       6445.000000
Name: total_bedrooms, dtype: float64

In [51]:
df.to_csv('../cleaned_data/ready_for_EDA.csv')